body{
    font-size: 1.6rem;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: aliceblue;
    background-image: url(newpic.jpg);
    background-size:cover;
    background-position: left;
    height: 100px;
    width: auto;
}
button {
    background-color:black;
    color: white;
    border-radius: 10px;
    width: auto;
    height: 45px;
    border-width: 2px;
    border-style: dotted;
    margin-right: 15px;
    border-color: white;
    padding: 10px 20px;
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
  }
  button:hover{
    background-color: white;
    color: black;
    border-width: 2px;
    border-style: dotted;
    border-color: white;
}
.but{
    margin-top:3%;
    margin-left:30%; 
}
.square1{

    background-color: black;
    color: white;
    width: auto;
    height: auto;
    padding: 2%;
    margin-left: 30%;
    border-width: 2px;
    border-style: dotted;
    border-color: white;
    margin-top: 3%;
    margin-right:10%;
    border-radius: 20px;
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace; font-size: 30px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
}
div.square1:hover{
    
    background-color: white;
    color: black;
    border-width: 2px;
    border-style: dotted;
    border-color: white;
   
}
.text{

    margin-left:30%;
    margin-top: 3%;
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace; font-size: 30px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;

}