*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button {
    background-color:black;
    color: white;
    border-radius: 10px;
    width: auto;
    height: 45px;
    border-width: 2px;
    border-style: dotted;
    margin-right: 15px;
    border-color: white;
    padding: 10px 20px;
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
  }
body{
    font-size: 1.6rem;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: aliceblue;
    background-image: url(final.png);
    background-size:cover;
    background-position: right;
    height: 100px;
    
    width: auto;
}

.square{

    background-color: black;
    color: white;
    width: auto;
    height: auto;
    padding: 2%;
    margin-left: 20%;
    border-width: 2px;
    border-style: dotted;
    border-color: white;
    margin-top: 15%;
    margin-right:20%;
    border-radius: 20px;
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace; font-size: 30px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
}

.text{

    margin-left: 2%;
    margin-top: 2%;
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace; font-size: 30px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;

}
.text2{
    margin-top:10%;
    margin-left:5%;
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
}
.but{
    margin-top:3%;
    margin-left:5%; 
}
div.square:hover{
    
    background-color: white;
    color: black;
    border-width: 2px;
    border-style: dotted;
    border-color: white;
   
}
button:hover{
    background-color: white;
    color: black;
    border-width: 2px;
    border-style: dotted;
    border-color: white;
}
.a{
    font-size: 50%;
}
p{
    margin-bottom: 10px;
}
.he{
    margin-top:20px
}

.square1{

    background-color: black;
    color: white;
    width: auto;
    height: auto;
    padding: 2%;
    margin-left: 5%;
    border-width: 2px;
    border-style: dotted;
    border-color: white;
    margin-top: 5%;
    margin-right:38%;
    border-radius: 20px;
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace; font-size: 30px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
}
div.square1:hover{
    
    background-color: white;
    color: black;
    border-width: 2px;
    border-style: dotted;
    border-color: white;
   
}
